<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" style="padding:3px 20px 2px;" href="http://www.cloud9search.com">
        <img src="/img/c9/evo-logo-small.png">
      </a>
      <ul class="nav">
        <li><a href="/cloud9/overview" target="_blank">Home</a></li>
        <li><a href="http://www.cloud9search.com/blog" target="_blank">Blog</a></li>
        <li><a href="http://www.cloud9search.com/docs.html" target="_blank">Documentation</a></li>
        <li><a href="http://www.cloud9search.com/faqs.html" target="_blank">FAQ</a></li>
        <li><a href="http://www.cloud9search.com/contact.html" target="_blank">Contact</a></li>
      </ul>
    </div>
  </div>
</div>