<div class="navigation-header gradient-dark rounded-top">
  <ul class="navigation-list">
    <li>
      <img align="top" src="/img/evo/cloud.png" alt="${build}" title="${build}" style="padding-right:10px">
    </li>
    <li><a id="evo-overview-page" href="/evo/overview">Overview</a></li>
    <li><a id="evo-content-page" href="/evo/content">Collections</a></li>
    <li><a id="evo-apps-page" href="/evo/apps">Applications</a></li>
    <li><a id="evo-user-page" href="/evo/user">Users</a></li>
  </ul>
</div>

<div class="status-header gradient-light"><a href="/logout">Log Out (<span class="evo-session-username">$SPRING_SECURITY_CONTEXT.authentication.getName()</span>)</a></div>

<div class="status-body">
  <div class="status-body-title">
    <table>
      <tr>
        <td>
          <img align="absmiddle" src="/img/evo/cluster.png" />
        </td>
        <td>
          <div class="evo-cluster-banner">Cluster Name: <span class="evo-cluster-name">${cluster.clusterName()}</span></div>
          #if ($cluster.numberOfNodes == 1)
            <div class="evo-cluster-banner-sub">There is currently ${cluster.numberOfNodes()} active node</div>
          #else
            <div class="evo-cluster-banner-sub">There are currently ${cluster.numberOfNodes()} active nodes</div>
          #end
        </td>
      </tr>
    </table>
  </div>
  <hr class="evo-cluster-hr">
  <div class="status-body-data">
    <center>
    <table class="evo-cluster-details-table">
      <tr>
        <td>
        	#if ($status.size() == 1)
        		#if ($count == 1)
          			<span>Cluster contains ${status.size()} collection totaling ${count} document.</span>
          		#else
          			<span>Cluster contains ${status.size()} collection totaling ${count} documents.</span>
          		#end
          	#else
          		#if ($count == 1)
          			<span>Cluster contains ${status.size()} collections totaling ${count} document.</span>
          		#else
          			<span>Cluster contains ${status.size()} collections totaling ${count} documents.</span>
          		#end
          	#end
        </td>
        <td class="evo-cluster-health">
          <span>Cluster Health&nbsp;</span>
          #if ($cluster.status() == "GREEN")
            <img align="top" alt="Severe" title="Severe" src="/img/evo/admin/offline.png">
            <img align="top" alt="Warning" title="Warning" src="/img/evo/admin/offline.png">
            <img align="top" alt="Healthy" title="Healthy" src="/img/evo/admin/healthy.png">
          #elseif ($cluster.status() == "YELLOW")
            <img align="top" alt="Severe" title="Severe" src="/img/evo/admin/offline.png">
            <img align="top" alt="Warning" title="Warning" src="/img/evo/admin/warning.png">
            <img align="top" alt="Healthy" title="Healthy" src="/img/evo/admin/offline.png">
          #else
            <img align="top" alt="Critical" title="Critical" src="/img/evo/admin/severe.png">
            <img align="top" alt="Warning" title="Warning" src="/img/evo/admin/offline.png">
            <img align="top" alt="Healthy" title="Healthy" src="/img/evo/admin/offline.png">
          #end
        </td>
      </tr>
    </table>
    </center>
  </div>
  <div class="status-body-data-right">
    &nbsp;
  </div>
</div>
