<div id="footer-left">
  <p>
    COPYRIGHT &copy; 2010-2012 Diji Inc.
  </p>
</div>

<div id="footer-center">
</div>

<div id="footer-right">
  <span style="color:#666;font-size:13px;">Developer Preview Release</span>
</div>