<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Properties -->
    <property name="LOGDIR" value="${EVO_HOME:-.}/logs" />
    <property name="LOGFILE" value="evo.log" />
    <property name="SLOWLOG" value="slowlog.log" />

	<!-- Appenders -->
    <!-- Console logger, INFO+ only -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
		</encoder>
	</appender>

    <!-- Daily Log File -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGDIR}/${LOGFILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily, gzipped -->
            <fileNamePattern>${LOGDIR}/${LOGFILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{36}.%M @ %L] %msg%n</pattern>
		</encoder>
    </appender>

    <!-- Query Slow Log (not enabled by default) -->
    <appender name="SLOWFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGDIR}/${SLOWLOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily, gzipped -->
            <fileNamePattern>${LOGDIR}/${SLOWLOG}.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%logger{25}] %msg%n</pattern>
		</encoder>
    </appender>

	<!-- Application Loggers -->
    <!-- DEBUG+ goes it file, INFO+ to console -->
	<logger name="co.fs.evo" level="DEBUG">
		<appender-ref ref="STDOUT" />
    </logger>

    <!-- For when the slowlog is enabled -->
    <!-- Only send to slow log file -->
    <logger name="org.elasticsearch.index.search.slowlog" level="TRACE" additivity="false">
		<appender-ref ref="SLOWFILE" />
    </logger>

    <!-- loggers that are too noisy to run at INFO -->
	<logger name="org.springframework.beans.factory" level="WARN" />
	<logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN" />
	<logger name="org.springframework.security.config" level="WARN" />

    <!-- default logging level -->
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>
