/*jshint globalstrict:true */
/*global angular:true */
'use strict';

angular.module('${app}.controllers', [])
    .controller('SearchCtrl', function($scope, $location, ejs) {
        
        var request = ejs.Request()
            .indices("twitter")
            .types("tweet");
        
        $scope.search = function() {
            $scope.results = request
                .query(ejs.QueryStringQuery($scope.queryTerm || '*'))
                .doSearch();
                
            $location.path("/results");
            $scope.queryTerm = "";
        };
        
    });