/*jshint globalstrict:true */
/*global angular:true */
'use strict';

angular.module('${app}.controllers', [])
    .controller('SearchCtrl', function($scope, $location, ejsResource) {
    
        var ejs = ejsResource('/v1');
        
        var request = ejs.Request()
            .collections("twitter")
            .types("tweet");
        
        $scope.search = function() {
            $scope.results = request
                .query(ejs.QueryString($scope.queryTerm || '*'))
                .get();
                
            $location.path("/results");
        };
        
    });