importPackage(java.util);

/* Controller: examples
 * Some basic examples of controller actions.
 *
 * URLs:
 *
 *  /${app}/examples/hello
 *  /${app}/examples/goodbye
 *  /${app}/examples/fib
 *  /${app}/examples/date
 *  /${app}/examples/xhr
 *  /${app}/examples/search
 *  /${app}/examples/auth
 */
function examples() {

    var fibonacci = function(n) {
        return n < 2 ? n : fibonacci(n-1) + fibonacci(n-2);
    };
    
    /* example of using underscore.js template */
    var resultTmpl = _.template(
        "<span class=\"result-title\">Search Results</span>" +
        "<% _.each(hits, function(hit) { %>" +
        "<li><%= hit._source.title %></li>" +
        "<% }); %>"
    );

    /* controller actions */
    return {
        /* simple hello world */
        hello: function(request) {
            return {
                status: 200,
                headers: { "Content-Type": "text/plain" },
                body: ["Hello World!"]
            };
        },

        /* specifying a content-type */
        goodbye: function(request) {
            var name = request.params.name;
            return {
                status: 200,
                headers: { "Content-Type": "text/html" },
                body: ["<h1>Goodbye ", name, "</h1>"]
            };
        },
        
        /* calling private functions */
        fib: function(request) {
            return {
                status: 200,
                headers: { "Content-Type": "text/plain" },
                body: ["Result: ", fibonacci(8)]
            };
        },
        
        /* calling Java */
        date: function(request) {
            var date = new java.util.Date();
            return {
                status: 200,
                headers: { "Content-Type": "text/plain" },
                body: ["Today is ", date.toString()]
            };
        },
        
        /* ajax proxy using xhr */
        xhr: function(request) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET","http://www.google.com");
            xhr.send(null);
            return {
                status: 200,
                headers: { "Content-Type": "text/html" },
                body: [xhr.responseText]
            };
        },
        
        /* example using evo javascript client */
        search: function(request) {
        
            var request = ejs.Request()
                .indices("twitter")
                .types("tweet");
            
            var results = request
                .query(ejs.QueryStringQuery('user:kimchy'))
                .doSearch();
                        
            if (results === null) {
                return {
                    status: 500,
                    body: ['Error executing search (did you specify a valid collection and/or type?)']
                };
            } else {
                return {
                    status: 200,
                    headers: { "Content-Type": "text/html" },
                    body: [resultTmpl(results.hits)]
                };
            }
        },
        
        /* example of checking authentication */
        auth: function(request) {
            if (!request.session) {
                return {
                    status: 302,
                    headers: { "Location": "/login.html" }
                };
            } else {
                return {
                    status: 200,
                    headers: { "Content-Type": "text/plain" },
                    body: ["Welcome ", request.session.user, " (", request.session.roles[0], ")"]
                };
            }
        }
    };
}
