/*jshint globalstrict:true */
/*global angular:true */
'use strict';

angular.module('${app}.services', [])
    .factory('foo', function($resource) {
        return {
            bar: $resource('/${app}/{controller}/{action}', {}, {
                get: {method: 'GET'},
                put: {method: 'PUT'}
            })
        };
    });