<!DOCTYPE html>

<html class="c9">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/c9/favico.png" />
    <title>Cloud9 - Collections</title>

    <!-- Common CSS files -->
    <link rel="stylesheet" type="text/css" href="/js/yui/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css" />
    <link rel="stylesheet" type="text/css" href="/css/cloud9.css" />
    <link rel="stylesheet" type="text/css" href="/css/c9/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/c9/bootstrap-light.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/buttons.css" media="screen" />

    <script src="/js/jquery-1.6.2.min.js"></script>
    <script src="/js/json2.min.js"></script>
    <script src="/js/jquery.qtip-1.0.0-rc3.min.js"></script>
    <script src="/js/c9/c9.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script type="text/javascript">
        // change underscore.js template settings not to conflict with grails
        // interpolate = {%= doc.title %}
        // evaluate = {% _.each(docs, function...) %}
        _.templateSettings = {
            interpolate: /\{%=(.+?)%\}/g,
            evaluate: /\{%(.+?)%\}/g
        };
    </script>
    
    <script id="c9-input-row" type="text/template">
        <tr class="{%= cnt % 2 === 0 ? 'even' : 'odd' %} gradient-light row{%= cnt %}">
            <td colspan="{%= colspan %}">
                <input style="width:170px;" type="text" id="txt{%= cnt %}" />&nbsp;
                <a href="#" style="color:#ff8000;font-size:12px;" id="link{%= cnt %}">Create</a>
            </td>
            {% if (type === 'field') { %}
            <td style="text-align:right">
                <select id="sel{%= cnt %}">
                    <option value="string">String</option>
                    <option value="text">Text</option>
                    <option value="date">Date</option>
                    <option value="number">Number</option>
                    <option value="decimal">Decimal</option>
                </select>
            </td>
            {% } %}
        </tr>
    </script>

    <script id="c9-collection-table-row" type="text/template">
        <tr class="{%= cnt % 2 === 0 ? 'even' : 'odd' %} gradient-light" id="col-{%= index %}">
            <td>
                <a href="#" onClick="loadTypesForCollection('{%= index %}')">{%= index %}</a>
            </td>
            <td>{%= info.docs %}</td>
            <td>{%= info.size %}</td>
            <td style="text-align:right;">
                <a href="#" class="c9-collection-delete-icon" onClick="c9.deleteCollection('{%= path %}')">
                    <img class="removeLink" src="/img/c9/trans.png">
                </a>
            </td>
        </tr>
    </script>

    <script id="c9-types-table" type="text/template">
        <a href="#" id="createTypeElement" onClick="createType('{%= collection %}')"><img class="addLink" src="/img/c9/trans.png"></a>
        <span class="newCollection">Content Types</span>
        <a href="#" class="crumb" onClick="c9.slide(0)">/ collections /</a><span class="crumb" style="color:#ff8000;"> {%= collection %}</span>
        <br />
        <table id="typeTable">
            <tr class="c9-table-header gradient-dark">
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            {% var cnt = 1; %}
            {% _.each(types, function(typeInfo, typeName) { %}
                {%= _.template($('#c9-types-table-row').html(), {cnt:cnt++, path:path + '/' + typeName, type:typeName, info:typeInfo, collection:collection}) %}
            {% }); %}
        </table>
    </script>

    <script id="c9-types-table-row" type="text/template">
        <tr class="{%= cnt % 2 === 0 ? 'even' : 'odd' %} gradient-light" id="type-{%= type %}">
            <td>
                <a href="#" onClick="loadFieldsForType('{%= collection %}', '{%= type %}')">{%= type %}</a>
            </td>
            <td style="text-align:right;">
                <a href="#" class="c9-type-delete-icon" onClick="c9.deleteType('{%= path %}')">
                    <img class="removeLink" src="/img/c9/trans.png">
                </a>
            </td>
        </tr>
    </script>

    <script id="c9-fields-table" type="text/template">
        <a href="#" id="createFieldElement" onClick="createField('{%= collection %}','{%= type %}')"><img class="addLink" src="/img/c9/trans.png"></a>
        <span class="newCollection">Content Fields</span>
        <a href="#" class="crumb" onClick="c9.slide(0)">/ collections </a><a href="#" class="crumb" onClick="c9.slide(-855)">/ {%= collection %} /</a><span class="crumb" style="color:#ff8000;"> {%= type %}</span>
        <br />
        <table id="fieldTable">
            <tr class="c9-table-header gradient-dark">
                <th>Name</th>
                <th style="text-align:right">Type&nbsp;&nbsp;</th>
            </tr>
            {% var cnt = 1; %}
            {% _.each(fields, function(fieldInfo, fieldName) { %}
                {%= _.template($('#c9-fields-table-row').html(), {cnt:cnt++, path:path + '/' + fieldName, info:fieldInfo, collection:collection, type:type, field:fieldName}) %}
            {% }); %}
        </table>
        <div style="float:right;">
            <a href="#" onClick="addDocument('{%= collection %}','{%= type %}')">Add Document</a>
        </div>
    </script>

    <script id="c9-fields-table-row" type="text/template">
        <tr class="{%= cnt % 2 === 0 ? 'even' : 'odd' %} gradient-light" id="{%= cnt %}">
            <td>
                <a href="#" onClick="addDocument('{%= collection %}','{%= type %}')">{%= field %}</a>
            </td>
            <td style="text-align:right">{%= info.type %}</td>
        </tr>
    </script>

    
    <script id="c9-add-doc-form" type="text/template">
        <a href="#" class="crumb" onClick="c9.slide(0)">/ collections </a><a href="#" class="crumb" onClick="c9.slide(-855)">/ {%= collection %} </a><a href="#" class="crumb" onClick="c9.slide(-1710)">/ {%= type %}</a>
        <br />
        <table id="newDocTable">
            <tr class="c9-table-header gradient-dark">
                <th>&nbsp;id:{%= id %}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </table>
        <div id="contentForm" style="border:1px solid #ccc; width:99.6%;">
            <form action="{%= path %}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>{%= type %}</legend><br />
                    {% _.each(fields, function(fieldInfo, fieldName) { %}
                        <div style="clear:both;"><label for="{%= fieldName %}">{%= fieldName %}</label> <input type="text" id="{%= fieldName %}" name="{%= fieldName + '^' + fieldInfo.type %}" style="margin-bottom:8px;"></div>
                    {% }); %}
                    <br />
                </fieldset>
                <div style="height:48px;text-align:right;">
                    <a style="margin-top:10px;" href="#" class="sbab image_link" onClick="c9.addDocument('{%= path %}')">
                        <strong>Submit</strong>
                    </a>
                </div>
            </form>
        </div>
    </script>

    <script type="text/javascript">
        var indices = ${indices};

        $(document).ready(function() {
          $("#c9-content-page").addClass("selected");
          c9 = new cloud9();
         
          _.each(indices, function (indexInfo, indexName) {
            $('#collectionTable > tbody:last tr:eq(0)').after(
                _.template($('#c9-collection-table-row').html(), {
                    cnt: $('#collectionTable tbody tr').length,
                    index: indexName, 
                    info: indexInfo, 
                    path: '/cloud9/content/' + indexName
                })
            );
          });
 
          $('#createCollectionElement').qtip({
             content: 'Create Collection',
             show: 'mouseover',
             hide: 'mouseout',
             position: {
                corner: {
                   target: 'leftMiddle',
                   tooltip: 'rightMiddle'
                }
             },
             style: { 
                name: 'dark',
                tip: 'rightMiddle',
                border: {
                  width:1,
                  radius:3
                }
             }
          });

          $('.c9-collection-delete-icon').qtip({
             content: 'Delete Collection',
             show: 'mouseover',
             hide: 'mouseout',
             position: {
                corner: {
                   target: 'rightMiddle',
                   tooltip: 'leftMiddle'
                }
             },
             style: { 
                name: 'dark',
                tip: 'leftMiddle',
                border: {
                  width:1,
                  radius:3
                }
             }
          });
        });
      
        function loadTypesForCollection(collection) {
            var path = '/cloud9/content/' + collection;
            
            $.get(path, function(data) {
                data.path = path;
                var html = _.template($('#c9-types-table').html(), data);
                c9.loadAndSlide('#types', html, '-855px');

                $('#createTypeElement').qtip({
                    content: 'Create Content Type',
                    show: 'mouseover',
                    hide: 'mouseout',
                    position: {
                        corner: {
                            target: 'leftMiddle',
                            tooltip: 'rightMiddle'
                        }
                    },
                    style: { 
                        name: 'dark',
                        tip: 'rightMiddle',
                        border: {
                            width:1,
                            radius:3
                        }
                    }
                });

                $('.c9-type-delete-icon').qtip({
                    content: 'Delete Content Type',
                    show: 'mouseover',
                    hide: 'mouseout',
                    position: {
                        corner: {
                            target: 'rightMiddle',
                            tooltip: 'leftMiddle'
                        }
                    },
                    style: { 
                        name: 'dark',
                        tip: 'leftMiddle',
                        border: {
                            width:1,
                            radius:3
                        }
                    }
                });
            });
        }
 
        function loadFieldsForType(collection, type) {
            var path = '/cloud9/content/' + collection + '/' + type;
            
            $.get(path, function(data) {
                data.path = path;
                var html = _.template($('#c9-fields-table').html(), data);
                c9.loadAndSlide('#fields', html, '-1710px');

                $('#createFieldElement').qtip({
                    content: 'Create Content Field',
                    show: 'mouseover',
                    hide: 'mouseout',
                    position: {
                        corner: {
                            target: 'leftMiddle',
                            tooltip: 'rightMiddle'
                        }
                    },
                    style: { 
                        name: 'dark',
                        tip: 'rightMiddle',
                        border: {
                            width:1,
                            radius:3
                        }
                    }
                });
            });
        }

        function addDocument(collection, type) {
            var path = '/cloud9/content/' + collection + '/' + type + '/';
            $.get(path + 'publish', function(data) {
                data.path = path + data.id;
                var html = _.template($('#c9-add-doc-form').html(), data);
                c9.loadAndSlide('#newdoc', html, '-2565px');
            });
        }
 
        function createCollection() {
            var cnt = $('#collectionTable tbody tr').length;
            $('#collectionTable > tbody:last tr:eq(0)').after(
                _.template($('#c9-input-row').html(), {colspan:4, cnt:cnt, type:'collection'})
            );

            $('#link' + cnt).click(function (e) {
                var name = encodeURIComponent($('#txt' + cnt).val());
                var row = $('.row' + cnt);
                var url = '/cloud9/content/' + name;

                $.post(url, function(data) {
                    if (data.status === 'ok') {
                        row.replaceWith(
                            _.template($('#c9-collection-table-row').html(), {
                                cnt: cnt,
                                index: name,
                                info: {docs:0, size:'172b'},
                                path: url
                            })
                        );
                    } else if (data.status == 'error') {
                        row.remove();
                        c9.showError($('#collections'), data.response);
                    } else {
                        console.log('Sorry, an unknown error occurred');
                    }
                });
            });
        };
        
        function createType(collection) {
            var cnt = $('#typeTable tbody tr').length;
            $('#typeTable > tbody:last tr:eq(0)').after(
                _.template($('#c9-input-row').html(), {colspan:2, cnt:cnt, type:'type'})
            );

            $('#link' + cnt).click(function(e) {
                var name = encodeURIComponent($('#txt' + cnt).val());
                var row = $('.row' + cnt);
                var url = '/cloud9/content/' + collection + '/' + name;
                
                $.post(url, function(data) {
                    if (data.status === 'ok') {
                        row.replaceWith(
                            _.template($('#c9-types-table-row').html(), {
                                cnt: cnt,
                                path: url,
                                collection: collection,
                                type: name
                            })
                        );
                    } else if (data.status === 'error') {
                        row.remove();
                        c9.showError($('#types'), data.response);
                    } else {
                        console.log('Sorry, an unknown error occurred');
                    }
                });
            });
        };
        
        function createField(collection, type) {
            var cnt = $('#fieldTable tbody tr').length;
            $('#fieldTable > tbody:last tr:eq(0)').after(
                _.template($('#c9-input-row').html(), {colspan:1, cnt:cnt, type:'field'})
            );

            $('#link' + cnt).click(function(e) {
                var name = encodeURIComponent($('#txt' + cnt).val());
                var mtype = $('#sel' + cnt).val();
                var row = $('.row' + cnt);
                var url = '/cloud9/content/' + collection + '/' + type;

                var mapping = {};
                var mappingType = "";

                switch(mtype) {
                    case "string":
                        mappingType = "string";
                        break;
                    case "text":
                        mappingType = "string";
                        break;
                    case "number":
                        mappingType = "integer";
                        break;
                    case "decimal":
                        mappingType = "float";
                        break;
                    case "date":
                        mappingType = "date";
                        break;
                    default:
                        console.log('Invalid mapping type');
                }

                mapping[name] = {store:"yes", type:mappingType};

                $.ajax({
                    type: 'PUT',
                    url: url,
                    data: JSON.stringify(mapping),
                    contentType: 'application/json',
                    processData: false,
                    success:function(data) {
                        if (data.status == 'ok') {
                            row.replaceWith(
                                _.template($('#c9-fields-table-row').html(), {
                                    cnt: cnt,
                                    collection: collection,
                                    type: type,
                                    path: url,
                                    field: name,
                                    info: mapping[name]
                                })
                            );
                        } else if (data.status == "error") {
                            row.remove();
                            c9.showError($('#fields'), data.response);
                        } else {
                            console.log('Sorry, an unknown error occured');
                        }
                    },
                    dataType: "json"
                });
            });
        };
    </script>
  </head>
  
  <body class="yui-skin-sam">
    <div id="container"> 

        <div id="header"> 
            #include ( "templates/header.vm" )
        </div> 

        <div id="content"> 
            <div id="center" style="width:100%">
                #parse ( "templates/status.vm" )
                <br><br>
                <div class="userLayout">
                  <div class="userTableContainer">
                    
                    <div style="float:left;width:855px;text-align:left;" id="collections">
                      <a href="#" id="createCollectionElement" onClick="createCollection()">
                        <img class="addLink" src="/img/c9/trans.png">
                      </a>
                      <span class="newCollection">Collections</span><br />
                      <table id="collectionTable">
                        <tr class="c9-table-header gradient-dark">
                          <th style="width:220px;">Name</th>
                          <th>Documents</th>
                          <th>Size</th>
                          <th>&nbsp;</th>
                        </tr>
                      </table>
                    </div>
                    
                    <div style="float:left;width:855px;text-align:left;" id="types"></div>
                    <div style="float:left;width:855px;text-align:left;" id="fields"></div>
                    <div style="float:left;width:855px;text-align:left;" id="newdoc"></div>
                  </div>
                </div>
            </div>
        </div> 

        <div id="footer"> 
            #include ( "templates/footer.vm" )
        </div> 
        
    </div>
  </body>
</html>
