<!DOCTYPE html>

<html class="c9">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/evo/favico.png" />
    <script src="/js/jquery-1.6.2.min.js"></script>
    <script src="/js/protovis-d3.1.js"></script>
    <script src="/js/evo/nodestats.js"></script>
    <title>EVO - Overview</title>

    <!-- Common CSS files -->
    <link rel="stylesheet" type="text/css" href="/js/yui/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css" />
    <link rel="stylesheet" type="text/css" href="/css/evo.css" />
    <link rel="stylesheet" type="text/css" href="/css/evo/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/evo/bootstrap-light.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/buttons.css" media="screen" />

    <script src="/js/json2.min.js"></script>
    <script src="/js/evo/evo.js"></script>

    <script>
      $(document).ready(function() {
        $("#c9-overview-page").addClass("selected");
      });
    </script>
  </head>

  <body class="yui-skin-sam">
    <div id="container"> 

      <div id="header"> 
        #include ( "templates/header.vm" )
      </div> 

      <div id="content"> 
        <div id="center" style="width:100%">
          #parse ( "templates/status.vm" )
        <br><br>
          <div class="overview-node-container">
            <span class="newCollection">Node Statistics</span>
            #foreach ($node in $nodes.entrySet())
              #set ($stat = $stats.get($node.key))
              <div class="overview-node-header gradient-dark">
                <img style="margin-left:5px;" align="absmiddle" src="/img/evo/bar_chart.png">
                <span class="node-title">$node.value.hostname&nbsp;-&nbsp;$node.value.network().primaryInterface().address()</span>
              </div>
              <div class="overview-node-body">
                <div class="overview-node-data">
                  <span>System uptime: $stat.os().uptime()</span><br>
                  <span>JVM uptime: $stat.jvm().uptime()</span><br><br>
                  <div id="cpu-load-1m-$node.key"></div>
                  <div id="sys-mem-bytes-$node.key"></div>
                  <div id="proc-mem-bytes-$node.key"></div>
                  <div id="jvm-thread-count-$node.key"></div>
                  <script>
                    barChart("cpu-load-1m-$node.key")
                      .data([
                        ${stat.os().loadAverage()[0]},
                        100-${stat.os().loadAverage()[0]}])
                      .label("CPU Load (1m)")
                      .unit("%")
                      .draw();
                    barChart("sys-mem-bytes-$node.key")
                      .data([
                        ${stat.os().mem().actualUsed().gbFrac()},
                        ${stat.os().mem().actualFree().gbFrac()}])
                      .label("System Memory")
                      .unit("GB")
                      .draw();
                    barChart("proc-mem-bytes-$node.key")
                      .data([
                        ${stat.process().mem().resident().gbFrac()},
                        ${stat.process().mem().totalVirtual().gbFrac()} - ${stat.process().mem().resident().gbFrac()}])
                      .label("Process Memory")
                      .unit("GB")
                      .draw();
                    barChart("jvm-thread-count-$node.key")
                      .data([
                        ${stat.jvm().threads().count()},
                        100 - ${stat.jvm().threads().count()}])
                      .label("JVM Threads")
                      .unit("")
                      .draw();
                  </script>
                </div>
              </div>
              <br><br>
            #end
          </div>
        </div>
      </div> 

      <div id="footer"> 
        #include ( "templates/footer.vm" )
      </div> 
      
    </div>
  </body>

</html>
